<h3 class="text-center">Futuros Objetivos</h3>


<div class="row mx-2">

<div class="card mx-2 mb-4 bg-warning" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-warning" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-warning" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
 
  <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-secondary" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>

<div class="card mx-2 mb-4 bg-warning" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Objetivo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>
</div>