<div class="row">
  <div class="col-md-4">
    <div class="card-info">
      <h2>Saldo Positivo</h2>
      <h3>R$: <label class="text-success">3091039</label></h3>
      <p>Saldo positivo: Todo o lucro.</p>
      <button>Saiba mais</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card-info2">
      <h2>Pendências</h2>
      <h3>R$: <label class="text-danger">3091039</label></h3>
      <p>Saldo negativo: Todos os gastos.</p>
      <button>Saiba mais</button>
    </div>
  </div>
    <div class="col-md-4">
    <div class="card-info2">
      <h2>Pendências</h2>
      <h3>R$: <label class="text-success">3091039</label></h3>
      <p>Saldo negativo: Todos os gastos.</p>
      <button>Saiba mais</button>
    </div>
  </div>
</div>

