<div class="row">
  <div class="col text-center">
    <div class="card-info">
      <h2 class="mt-2 mb-1">Saldo Positivo</h2>
      <h3>R$: <label class="text-success">3091039</label></h3>
      <label class="mt-1 mb-1">Saldo positivo: Todo o lucro.</label> <br>
      <button class="mb-2 mt-1 btn btn-primary text-uppercase">Saiba mais</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="card-info2">
      <h2 class="mt-2 mb-1">Pendências</h2>
      <h3>R$: <label class="text-danger">3091039</label></h3>
      <label class="mt-1 mb-1">Saldo negativo: Todos os gastos.</label>
      <br>
      <button class="mb-2 mt-1 btn btn-primary text-uppercase">Saiba mais</button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col text-center">
    <div class="card-info">
      <h2 class="mt-2 mb-1">Futuros Objetivos</h2>
      <h3>R$: <label class="text1">3091039</label></h3>
      <label class="mt-1 mb-1">Valor total de todos as próximas metas.</label> <br>
      <button class="mb-2 mt-1 btn btn-primary text-uppercase">Saiba mais</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="card-info2">
      <h2 class="mt-2 mb-1">Investimentos</h2>
      <h3>R$: <label class="text2">3091039</label></h3>
      <label class="mt-1 mb-1">Saldo: todos os rendimentos líquidos</label>
      <br>
      <button class="mb-2 mt-1 btn btn-primary text-uppercase">Saiba mais</button>
    </div>
  </div>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>