<div class="row">
  <div class="col-md-4 text-center">
    <div class="card-info">
      <h2 class="mt-2 mb-1">Emprestimos</h2>
      <h3><label class="text-success"><%= number_to_currency("0", unit: "R$ ", separator: ",", delimiter: ".") %></label></h3>
      <label class="mt-1 mb-1">apenas um texto de teste</label> <br>
      <%= link_to "Acessar", loans_path, class: "mb-2 mt-1 btn btn-dark text-uppercase" %>
    </div>
  </div>
</div>
