/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.text1 {
  color: #fd7e14;
}

.text2 {
  color: #d63384;
}

.navbar {
  height: 70px;
  background-color: #F3F1F5;
  margin-bottom: 0.5rem;
}

.img-wrapper {
  height: 80px;
  width: 120px;
  margin-left: 100px;
}

.navbar img {
  height: 60px;
  width: 120px;
  margin-left: 2px;
}

.card-info {
  border-radius: 15px;
  background-color: #F3F1F5;
  color: white;
}

.table-default {
  color: black;
  background-color: #F3F1F5;
}

footer {
  height: 50px;
  bottom: 0;
  color: black;
  background-color: #A7A4A3;
}

.container {
  background-color: #C9CCD5;
  height: 100vh;
}

.icons a {
  text-decoration: none;
  color: white;
}

.rowsoc {
  text-transform: uppercase;
}

body {
  background-color: #C9CCD5;
}