/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  background-color: #191A19;
}

.container {
  background-color: #191A19;
}
.navbar {
  height: 70px;
  background-color: #F3F1F5;
  margin-bottom: 0.5rem;
}

.img-wrapper {
  height: 80px;
  width: 120px;
  margin-left: 100px;
}

.navbar img {
  height: 60px;
  width: 120px;
  margin-left: 2px;
}

.card-info {
  border-radius: 5px;
  background-color: #F3F1F5;
  color: white;
}

.text1 {
  color: #03506F;
}

.table-default {
  border-radius: 5px;
  color: black;
  background-color: #F3F1F5;
}

.icons a {
  text-decoration: none;
  color: white;
}

.rowsoc {
  text-transform: uppercase;
}


.bi-info-circle-fill {
  font-size: 1.4rem;
}

/* Página de LogIn */

.login-page-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  overflow: hidden;
}

.box {
  width: 400px;
  height: 100%;
  background: #fff;
  margin-bottom: 50px;
}